.header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0 0;
    
    
   
    @include breakpoint-up('medium'){
        text-align: left;
        font-size: $font-lg;
        margin-right: 5rem;
        width: 50%;
        h1{
            font-size: $font-xlg;
            margin-bottom: 0;
        }

    }
}