.review{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    color:$veryDarkMagenta ;
    text-align: center;
    @include breakpoint-up('medium'){
        transform: translateX(-3rem);
        width: 30%;
    }

    &-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: $lightGrayishMagenta;
        border-radius: .5rem;
        margin-top: 1.0625rem;
        margin-bottom: 1.0625rem;
        padding: 0 16px;
        @include breakpoint-up('medium'){
            
            &:first-child{
                transform: translateX(-4rem);
            }
            &:nth-child(2){
                transform:translateX(2rem)
            }
            &:last-child{
                transform: translateX(8rem);
            }
        }
        
        &-stars{
            padding-top: .4rem;
        }
    }
}