html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 1rem 1rem;
  padding: 0;
  line-height: 1.3;
  font-family: "Public Sans", sans-serif;
  font-size: 0.9375rem;
  color: white;
  font-weight: 300;
  min-height: 250vh;
  overflow-x: hidden;
}

@media (min-width: 64em) {
  body {
    font-size: 0.9375rem;
  }
}

body.noscroll {
  overflow-x: hidden;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

p {
  line-height: 1.5;
  margin-bottom: 2.25rem;
  color: #937b92;
}

h1, h2, h3, h4, p {
  font-family: 'Spartan', sans-serif;
}

h1,
h2 {
  margin-top: 0px;
  font-weight: bold;
  font-size: 1.875rem;
  line-height: 1.15;
  color: #502050;
}

h2 {
  font-size: 2.25rem;
  font-size: 1.875rem;
  margin-bottom: 1.5625rem;
}

@media (min-width: 64em) {
  h2 {
    font-size: 2.25rem;
    margin-bottom: 2.25rem;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.container--pall {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (min-width: 64em) {
  .container--pall {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.container--py {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}

@media (min-width: 64em) {
  .container--py {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.container--px {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container--pt {
  padding-top: 4.375rem;
}

@media (min-width: 64em) {
  .container--pt {
    padding-top: 6rem;
  }
}

.container--pr {
  padding-right: 1.5rem;
}

.container--pb {
  padding-bottom: 4.375rem;
}

@media (min-width: 64em) {
  .container--pb {
    padding-bottom: 6rem;
  }
}

.container--pl {
  padding-left: 1.5rem;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media (min-width: 40em) {
  .container-1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.container-2 {
  width: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 0 0;
}

@media (min-width: 40em) {
  .header {
    text-align: left;
    font-size: 1.25rem;
    margin-right: 5rem;
  }
}

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #502050;
  text-align: center;
}

@media (min-width: 40em) {
  .review {
    -webkit-transform: translateX(-3rem);
            transform: translateX(-3rem);
  }
}

.review-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f7f2f7;
  border-radius: .5rem;
  margin-top: 1.0625rem;
  margin-bottom: 1.0625rem;
  padding: 0 16px;
}

@media (min-width: 40em) {
  .review-container:first-child {
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
  }
  .review-container:nth-child(2) {
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
  .review-container:last-child {
    -webkit-transform: translateX(6rem);
            transform: translateX(6rem);
  }
}

.review-container-stars {
  padding-top: .4rem;
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0;
}

@media (min-width: 40em) {
  .testimonials {
    margin-top: 2rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.testimonials-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.9375rem 2.6875rem;
  border-radius: .9rem;
  background-color: #502050;
  margin: 1rem 1rem;
}

.testimonials-item:first-child {
  margin: 1rem 0;
}

@media (min-width: 40em) {
  .testimonials-item:nth-child(2) {
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
  .testimonials-item:last-child {
    -webkit-transform: translateY(4rem);
            transform: translateY(4rem);
  }
}

.testimonials-item-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 25em) {
  .testimonials-item-heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.testimonials-item-heading .text {
  margin-left: 1.5rem;
}

.testimonials-item-heading .name {
  margin: 0 0;
}

.testimonials-item-heading h4 {
  color: #937b92;
  margin: 0 0;
  padding-top: 0.2rem;
  font-weight: 300;
}

.testimonials-item-heading img {
  border-radius: 10rem;
}

.testimonials-item-body {
  margin-top: 1.5rem;
}

@media (max-width: 25em) {
  .testimonials-item-body {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */